@model Domain.Requests.User.UserRequest
@{
    ViewData["Title"] = "Criação de Usuário";
}

@if (!string.IsNullOrEmpty(ViewBag.Error?.Message))
{
    <div class='alert alert-dismissable alert-info'>
        <button type='button' class='close' data-dismiss='alert'>x</button>
        @ViewBag.Message
    </div>

}
<div class="card">
    <div class="card-header">
        Criação de Usuário
    </div>
    <div class="card-body">
 @*        @using (Html.BeginForm("SignUp", "User", FormMethod.Post))
        { *@
            <form asp-action="SignUp">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nome</label>
                    <input asp-for="Name" type="text" class="form-control" aria-describedby="NameHelp">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Senha</label>
                    <input asp-for="Password" type="password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success" value="SignUp">Criar Usuário</button>
            </form>
        @* } *@
    </div>
</div>
<br />
<div style="display: flex; justify-content: end"><a class="btn btn-light" asp-controller="User" asp-action="SignIn">Voltar</a></p></div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}