@model Domain.Requests.User.UserRequest
@{
    ViewData["Title"] = "Criação de Usuário";
}

@if (TempData.ContainsKey("Error"))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="card">
    <div class="card-header">
        Login
    </div>
    <div class="card-body">
        <form asp-action="SignIn">
            <div class="col-3">
                <label asp-for="Email" class="form-label">Email address</label>
                <input asp-for="Email" type="email" class="form-control" aria-describedby="emailHelp">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Password" class="form-label">Senha</label>
                <input asp-for="Password" type="password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="row">
                <div class="col-3">
                    <button type="submit" class="btn btn-success" value="SignIn">Login</button>
                </div>
            </div>

        </form>
        <p>Ainda não tem uma conta? <a asp-controller="User" asp-action="SignUp">Crie sua conta</a></p>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}